<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        .error{
        color:red;
    </style>
</head>
<body>
<h3>Sign In</h3>
<form action="#" th:action="@{/authenticateTheUser}" method="POST">

    <div th:if="${param.error}">
        <i class="error">**you have entered invalid username/password**</i>
    </div>


    <p>
      User Name :<input type="text" name="username"/>

  </p>
    <p>
        Password :<input type="text" name="password"/>

    </p>
    <input type="submit" value="Login"/>
</form>
</body>
</html>